__pycache__
*/__pycache__
*/*/__pycache__
ellie.egg-info
docs/_build
build
dist
.DS_Store
build
dist
.cache/
.coverage
.eggs
.ipynb_checkpoints
*.so
*.cppimporthash
.rendered.*
*.egg-info
mastDownload/
*.pyo
*.pyc
__pycache__/
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
tess2019*s_cbv.fits
tessipack/__pycache__/__init__.cpython-36.pyc
